<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        bootstrap="tests/Bootstrap.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        verbose="true"
        stopOnFailure="false"
        processIsolation="false"
        backupGlobals="false"
        cacheResult="false"
>
    <testsuites>
        <testsuite name="TDD Currency Unit Test.">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
